@model Asopalav.Models.CartVM

<div class="ajaxcart" style="color:white;">
    @*Your cart: @Model.Quantity item(s) - $@Model.Price
        <br />
        @Html.ActionLink("Index", "CartDetails")*@

    <a href="@Url.Action("Index","CartDetails")" class="cd-cart @(Session["Cart"]!=null? "items-added":"")">
        <span>0</span>
    </a>
</div>