<div id="breadcrumbs" class="product-margin-top">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li @((string)Session["CurrentPage"] == "Home" ? "style=display:none" : "style=inline-block")>
                <a href="@Url.Action((string)Session["CurrentPage"],"Home")">@Session["CurrentPage"]</a>
            </li>
            <li>Cart</li>
        </ul>
    </div>
    <!-- / container -->
</div>
<!-- / body -->
<div id="body">
    <div class="container">
        <div id="content" class="full">
            <div class="cart-table">
                <table>
                    <tr>
                        <th class="items">Items</th>
                        <th class="price">Price</th>
                        <th class="qnt">Quantity</th>
                        <th class="total">Total</th>
                        <th class="delete"></th>
                    </tr>
                    <tr>
                        <td class="items">
                            <div class="image">
                                <img src="~/Content/images/6.jpg" alt="" style="height:75px;width:100px;">
                            </div>
                            <h3><a href="#">Lorem ipsum dolor</a></h3>
                            <p>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                        </td>
                        <td class="price">$1 350.00</td>
                        <td class="qnt"><select><option>1</option><option>1</option></select></td>
                        <td class="total">$1 350.00</td>
                        <td class="delete"><a href="#" class="ico-del"></a></td>
                    </tr>
                    <tr>
                        <td class="items">
                            <div class="image">
                                <img src="~/Content/images/61.jpg" alt="" style="height:75px;width:100px;">
                            </div>
                            <h3><a href="#">illum qui dolorem eum fugiat</a></h3>
                            <p>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum.</p>
                        </td>
                        <td class="price">$2 100.00</td>
                        <td class="qnt"><select><option>1</option><option>1</option></select></td>
                        <td class="total">$2 100.00</td>
                        <td class="delete"><a href="#" class="ico-del"></a></td>
                    </tr>
                    <tr>
                        <td class="items">
                            <div class="image">
                                <img src="~/Content/images/62.jpg" alt="" style="height:75px;width:100px;">
                            </div>
                            <h3><a href="#">accusantium doloremque laudantium</a></h3>
                            <p>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum.</p>
                        </td>
                        <td class="price">$1 050.00</td>
                        <td class="qnt"><select><option>1</option><option>1</option></select></td>
                        <td class="total">$1 050.00</td>
                        <td class="delete"><a href="#" class="ico-del"></a></td>
                    </tr>
                </table>
            </div>
            <div class="total-count">
                <h4>Subtotal: $4 500.00</h4>
                <p>+shippment: $30.00</p>
                <h3>Total to pay: <strong>$4 530.00</strong></h3>
                <a href="#" class="btn-grey">Finalize and pay</a>
            </div>

            <!--- payment address -->
            <div class="product-margin-top">
                <div class="container">
                    <ul>
                        <li>Delivery Address</li>
                    </ul>
                    <div class="form-group col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="10-digi mobile number">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="Landmark (Optional)">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <input type="text" class="form-control" placeholder="Alternate Phone (Optional)">
                    </div>
                        <div class="form-group col-sm-12 col-xs-12">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <div class="form-group col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="City/District/Town">
                        </div>
                        <div class="form-group col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="10-digi mobile number">
                        </div>
                        <div class="form-group col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="Landmark (Optional)">
                        </div>
                        <div class="form-group col-sm-6 col-xs-12">
                            <input type="text" class="form-control" placeholder="Alternate Phone (Optional)">
                        </div>
                        <div class="form-check form-check-inline col-sm-6 col-xs-12">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Home (All day delivery)</label>
                        </div>
                        <div class="form-check form-check-inline col-sm-6 col-xs-12">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Work (Delivery between 10AM - 5PM)</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Save and Delivery Here</button>
                    
                </div>
                <!-- / container -->
            </div>

        </div>
        <!-- / content -->
    </div>
    <!-- / container -->
</div>
<!-- / body -->