<ul class="nav navbar-nav navbar-right">
    @if (Convert.ToBoolean(Session["IsLoginValid"]) == true)
    {
        @Html.AntiForgeryToken()

        <li>@Html.ActionLink("Hello " + Session["UserFullName"] + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li>@Html.ActionLink("Log off", "LogOff", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
</ul>