body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
.gender-width {
    max-width: 80%;
}

.pad-left-right-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*-------- login ---------------*/

.login-margin-top {
    margin: 110px auto 50px auto;
    width: 40%;
}

.login-pad {
    padding-left: 110px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: lowercase;
}

.checkbox {
    left: 15px !important;
    margin-top: 4px !important;
}

.left-pad {
    padding-left: 0 !important;
}

.login-label {
    padding-left: 16px;
}

.log-bdr {
    border-top: 1px solid #ddd;
}

/*----- Register -----*/

.register-margin-top {
    margin: 140px auto 40px auto;
    width: 40%;
    text-align: center;
    font-weight: bold;
}

/*------------------About Us-----------------------*/

.about-margin-top {
    margin: 110px auto 20px auto;
    width: 88%;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.about-content {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

/*-----------------Contact Us---------------------*/

.contact-margin-top {
    margin: 110px auto 20px auto;
    width: 90%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

    .contact-margin-top > div > input {
        max-width: 100% !important;
        margin-bottom: 7px;
    }

    .contact-margin-top > div > textarea {
        max-width: 100% !important;
        margin-top: 7px;
        margin-bottom: 15px;
    }

.corporate {
    color: #696763;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

.corporate-address {
    color: #696763;
    font-size: 14px;
    text-align: left;
}

#input-width > div > div > div > input {
    max-width: 100% !important;
}

.admin-margin-top {
    margin: 130px auto 50px auto;
    width: 90%;
}

.admin-margin-top-pro {
    margin: 60px auto 50px auto;
    width: 90%;
}

/*Dropzone Div Starts*/
.dropDiv {
    height: 150px;
    width: 250px;
    border: 1px solid black;
    position: relative;
}

.drophyperspan {
    background: blue;
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.dz-preview .dz-processing .dz-image-preview .dz-success .dz-complete {
    display: none !important;
}

.dz-default .dz-message {
    display: none !important;
}

/*Dropzone Div Ends*/
