body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 80%;
}

.pad-left-right-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*-------- login ---------------*/

.login-margin-top {
    margin: 200px 30% 50px 27%;
    width: 40%;
}

.login-pad {
    padding-left: 110px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: lowercase;
}

.checkbox {
    left: 15px !important;
    margin-top: 4px !important;
    padding-left: 0 !important;
}

.left-pad {
    padding-left: 0 !important;
}

.login-label {
    padding-left: 16px;
}

.log-bdr {
    margin-bottom: 140px;
}

.product-margin-bott {
    margin-bottom: 0;
}

/*----- Register -----*/

.register-margin-top {
    margin: 160px auto 40px auto;
    width: 40%;
    text-align: center;
    font-weight: bold;
}

/*------------------About Us-----------------------*/

.about-margin-top {
    margin: 110px auto 20px auto;
    width: 88%;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.about-content {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

/*-----------------Contact Us---------------------*/

.contact-margin-top {
    margin: 150px auto 20px auto;
    width: 90%;
    font-weight: bold;
    text-align: center;
}

.form-horizontal {
    margin-top: 15px;
}

    .form-horizontal > .form-group > div > input {
        max-width: 100%;
    }

    .form-horizontal > div.form-group > div > textarea {
        width: 100%;
        height: 140px;
    }

.corporate {
    color: #696763;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 15px;
}

.corporate-address {
    color: #696763;
    font-size: 14px;
    text-align: left;
}

#input-width > div > div > div > input {
    max-width: 100% !important;
}

.admin-margin-top {
    margin: 130px auto 50px auto;
    width: 90%;
}

.admin-margin-top-pro {
    margin: 140px auto 50px auto;
    width: 90%;
}

/*Dropzone Div Starts*/
.dropDiv {
    height: 150px;
    width: 100%;
    border: 1px solid black;
    position: relative;
}

.drophyperspan {
    background: blue;
    opacity: .3;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.dz-preview .dz-processing .dz-image-preview .dz-success .dz-complete {
    display: none !important;
}

.dz-default .dz-message {
    display: none !important;
}

.butt-color {
    background: #808080 !important;
    color: #fff;
    border: none !important;
}

    .butt-color:hover {
        background: #ddd !important;
        color: #000;
        border: none !important;
    }

label {
    font-size: 14px !important;
    line-height: 15px !important;
    padding: 2px 0 !important;
}

#mapDiv > div {
    width: 90% !important;
    height: 70% !important;
}

.actions > input {
    margin-left: 6px;
    width: 80px;
    float: left;
    height: 26px;
}

.xzoom-lens {
    height: 285px !important;
}

.details > h4 {
    width: 100px;
    display: inline-block;
    margin-left: 8px;
}

/*------- Branding ----------*/

/*.fa {
    padding: 4px;
    font-size: 14px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 4px 1px;
    border-radius: 3px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: red;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    color: #fff;
}

.fa-twitter:before {
    content: "\f099";
    color: #fff;
}

.fa-google:before {
    content: "\f1a0";
    color: #fff;
}*/

.reg-margin-bottom {
    margin-bottom: 59px;
}

/*---------------- Social Icon -----------------*/

.footer_socialIcons {
    opacity: 1;
    text-align: center;
    margin: 6px 0;
}

    .footer_socialIcons li {
        margin: 0;
    }

.socialIcons_link {
    display: inline-table;
    margin-left: 15px;
    background-color: #4e4e4e;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
}

    .socialIcons_link a {
        color: #847b79;
        font-size: 17px;
        margin-top: 8px;
    }

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-twitter:before {
    content: "\f099";
}

.fa-google-plus:before {
    content: "\f0d5";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.shree-hari {
    width: 78px;
    height: 25px;
    border: 2px solid #ffffff;
    background: #ffffff;
    opacity: .8;
    text-align: center;
    float: right;
    border-radius: 5px;
    margin-top: 14px;
}

.shree-hari-middle {
    width: 134px;
    height: 31px;
    border: 2px solid #ffffff;
    background: #ffffff;
    opacity: .8;
    text-align: center;
    margin: 17px 3% 0 2.5%;
    border-radius: 5px;
    padding-top: 4px;
}

.device-foot {
    width: auto;
    line-height: 20px;
    padding: 13px 0;
}

@media screen and (max-width: 767px) {
    .shree-hari-middle {
        width: 134px;
        height: 31px;
        border: 2px solid #ffffff;
        background: #ffffff;
        opacity: .8;
        text-align: center;
        float: left;
        margin: 17px 0 0 100px;
        border-radius: 5px;
        padding-top: 4px;
    }

    #header .right-links {
        float: left !important;
        padding: 0;
        margin-left: 80px;
        font-family: "Novecentowide";
    }

    .about-margin-top {
        margin: 150px auto 20px auto;
        width: 88%;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
    }

    .contact-margin-top {
        margin: 210px auto 20px auto;
        width: 90%;
        font-weight: bold;
        text-align: center;
    }

    .product-margin-top {
        margin: 210px auto 0 auto !important;
    }

    .device-foot {
        width: 210px;
        line-height: 20px;
        padding: 6px 0;
    }

    .xzoom-container > .xzoom {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        margin-bottom: 15px;
        width: 350px !important;
        height: 350px;
    }
}

.shree-hari > img {
    vertical-align: initial;
}

.shree-hari-middle > img {
    vertical-align: initial;
}

a:focus {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: coral !important;
}

.overlay > p > a:hover {
    text-decoration: none !important;
    color: #eaea02 !important;
}

.socialIcons_link > a:hover {
    color: #fff !important;
}

.bg-twitter:hover {
    background: #1e88e5;
    color: #fff;
}

.bg-gplus:hover {
    background: #dd4b39;
    color: #fff;
}

.bg-face:hover {
    background: #3b5998;
    color: #fff;
}

.form-group > div > span > input {
    max-width: 100%;
}

.pro-ad > select {
    max-width: 100%;
}

.size > input {
    max-width: 100%;
}

input[type="radio"], input[type="checkbox"] {
    margin: 8px 5px 0 0 !important;
}

.pro-admin-topspace {
    margin-top: 30px;
}


/* ------- product image ------------*/

.dropzone .dz-preview .dz-details {
    min-width: initial !important;
    max-width: initial !important;
}

.dropzone .dz-preview .dz-image {
    width: auto !important;
    height: auto !important;
}

    .dropzone .dz-preview .dz-image img {
        display: inline !important;
    }

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    width: auto !important;
    margin: 0.5em;
    margin: 7px !important;
}

.dropzone {
    display: table;
}



/*Dropzone Div Ends*/
