<div id="breadcrumbs" class="product-margin-top">
    <div class="container">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action((string)Session["CurrentPage"],"Home")">About us</a></li>
        </ul>
    </div>
    <!-- / container -->
</div>

<p class="about-margin-top">Asopalav Jewellers Pvt Ltd in Vadodara.</p>
<div class="row">
    <div class="col-xs-12 col-sm-7">
        <p class="about-content">
            Since 1920, Asopalav Jewellers Private Limited is preserving Legacy of Late Mohanlal Dahyalal Chokshi’s in Silver Market. It is Vadodara’s one of the leading manufacturers, wholesalers, retailers, and exporters of silverware, artistic cutlery, antiques and various gift articles. Company has unique offering for every muhrat and occasions. It also has its unique artistic work especially in Silver Coins bullions for all client base along with unique hand crafted designs for temple and palaces in silver and gold.
            <br /><br />
            We are proud to have served various industrialists and corporates for years and we thank them in showing faith in us. Huge variety of products backed by quality service makes Asopalav Jewellers Private Limited a complete silver house in its own. We are known for the purity and quality of goods we deliver to our valuable customers maintaining quality standards keeping the pricing factor in mind to suit the customers and earn value for money. Our ability to customize range in aspects of size, shape, texture and price has also earned us goodwill in the industry.
            @*<br /><br />
            We are registered vendors for corporates, government institutes some of them are:
            1.	Gujarat Industries Power Co.Ltd, Vadodara<br />
            2.	Gujarat Alkalies and Chemical limited, Vadodara.<br />
            3.	Transpek Industry Limited, Vadodara.<br />
            4.	Transpek-Silox Industry Limited, Vadodara.<br />
            5.	Zydex Industries, Gorwa, Vadodara.<br />
            6.	Jubiliant Life Sciences Limited, Samlaya, Ta. Savli, Dist. Vadodara.<br />
            7.	Setco Automotive Limited, Halol.<br />
            8.	Alembic Pharmaceuticals Limited, Vadodara.<br />
            9.	Oil & Natural Gas Corporation Limited, Vadodara.<br />
            10.	Piramal Glass Limited, Vadodara.<br />
            11.	Gujarat Insecticides Limited, Vadodara.<br />
            12.	Deepak Nitrite Limited, Vadodara.<br />
            13.	Vadodara MahanagarSevaSadan, Vadodara.<br />
            14.	Apollo Tyres limited.<br />
            15.	Power Grid Corporation Limited.<br />
            16.	Saraswati Co-Operative Credit Society Limited.<br />
            17.	National Dairy Development Board, Anand.<br />
            18.	National Institute of Pharmaceutical Education and Research (NIPER), Ahmedabad.*@
        </p>
    </div>
    <div class="col-xs-12 col-sm-5" style="text-align:center; margin-bottom:110px">
        <div class="row">
            <div class="col-xs-12" style="text-align:center">
                <img src="/content/images/category4.jpg" alt="">
            </div>
            <div class="col-xs-12 video-container">
                <iframe width="350"
                        height="315"
                        src="https://www.youtube.com/embed/uFw1wh6ptLA"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
