@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="about-margin-top">Asopalav Jewellers Pvt Ltd in Vadodara. </p>
<div class="row">
    <div class="col-xs-12 col-sm-7">
        <p class="about-content">
            Jewellery Showrooms for precious jewellery, Asopalav Jewellers Pvt Ltd in Alkapuri, Vadodara is a recognised name in the city since 1997. With rich experience in they business, this firm has become a celebrated name for stunning designs and collections. They are revered for their handpicked and exclusive designs that feature in their gold and diamond jewellery collections. From classic styles to bespoke pieces, the fine craftsmanship highlights each precious piece of jewellery. Adding spark to every occasion, there is something for everyone and suitable for special events like weddings and ceremonies. Occupying an unmistakable location on the Rc Dutt Road Main Road in the neighbourhood of Alkapuri, one can plan a visit to this showroom via any of the available modes of transport. Undoubtedly it is one of the best jewellery showrooms in Alkapuri, Vadodara.
        </p>
    </div>
    <div class="col-xs-12 col-sm-5" styel="text-align:center;">
        <div class="row">
            <div class="col-xs-12" style="text-align:center">
                <img src="/content/images/category4.jpg" alt="">
            </div>
            <div class="col-xs-12 video-container">
                <video width="350" controls>
                    <source src="/content/images/mov_bbb.mp4" type="video/mp4">
                    <source src="/content/images/mov_bbb.ogg" type="video/ogg">
                </video>
            </div>
            </div>
        </div>
</div>
