
@{
    ViewBag.Title = "Contact";
}

<div id="body">
    <h2>Contact</h2>

    <div class="col media" style="margin-top:0 !important">
        <h3>Social media</h3>
        <ul class="social">
            <li><a href="#"><span class="ico ico-fb"></span>Facebook</a></li>
            <li><a href="#"><span class="ico ico-tw"></span>Twitter</a></li>
            <li><a href="#"><span class="ico ico-gp"></span>Google+</a></li>
            <li><a href="#"><span class="ico ico-pi"></span>Linkedin</a></li>
        </ul>
    </div>
    <div class="col contact">
        <h3>Contact us</h3>
        <p>Asopalav Jewellers Pvt Ltd in Vadodara<br>India</p>
        <p><span class="ico ico-em"></span><a href="#">contact@asopalavjewellers.com</a></p>
        <p><span class="ico ico-ph"></span>99000000</p>
    </div>
    <div class="col newsletter">
        <h3>Join our newsletter</h3>
        <!--<p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium.</p>-->
        <form action="#">
            <input type="text" placeholder="Your email address...">
            <button type="submit"></button>
        </form>
    </div>

</div>