@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row contact-margin-top">
    <div class="col-sm-6">
        <p class="corporate">Contact Asopalav Jewellers</p>
        <input type="text" value="" class="form-control" placeholder="From (Email)*">
        <input type="text" value="" class="form-control" placeholder="Mobile Number*">
        <select id="FAQDD" name="FAQSubject" class="form-control" onchange="OnChangeFAQDD()">
            <option selected="selected" value="0">---- Select Subject ------</option>
            <option value="9999">---- Others ------</option>
        </select>
        <textarea cols="55" class="form-control" ata-val="true" data-val-length="The Message exceeds maximum characters" data-val-length-max="4000" data-val-required="Please provide your Message" placeholder="Message *" rows="7" style="resize: none; width:100%;"></textarea>
        <input type="submit" value="Submit" class="btn btn-primary form-control" />
    </div>
    <div class="col-sm-6">
        <p class="corporate">
            Our Corporate Office
        </p>
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDn-81soapHaXkj1pV--ooRPXnZdPatfvE&q=Asopalav+Jewellers+Private+Limited" allowfullscreen></iframe>
        <br>
        <p class="corporate-address">
            <strong>Asopalav Jewellers Pvt Ltd.,</strong>
            Alkapuri, Vadodara
        </p>
    </div>
</div>