@model Asopalav.Models.DashboardModel
@{
    ViewBag.Title = "Home Page";
}

<div id="body">
    <div id="slider" class="middle-con-margin">
        <ul>
            <li style="background-image: url(/content/images/banner1.jpg)">
            </li>
            <li class="purple" style="background-image: url(/content/images/banner2.jpg)">
            </li>
            <li class="yellow" style="background-image: url(/content/images/banner3.jpg)">
            </li>
        </ul>
    </div>

    <div class="container pad-left-right-0" style="margin-top:20px">
        <div class="last-products">
            <h2>Last added products</h2>
            @Html.Partial("LastAddedProducts", Model.objGetLastAddedProducts_Result)
        </div>

        <div class="last-products">
            <h2>GIFTS</h2>
            <section class="quick-links">
                <article style="background-image: url(/content/images/corporate1.jpg); background-size: 278px 310px;">
                    <a href="#" class="table">
                        <div class="cell">
                            <div class="text">
                                <h4>personalize</h4>
                            </div>
                        </div>
                    </a>
                </article>
                <article style="background-image: url(/content/images/corporate5.jpg); background-size: 278px 310px;">
                    <a href="#" class="table">
                        <div class="cell">
                            <div class="text">
                                <h4>Corporate</h4>
                            </div>
                        </div>
                    </a>
                </article>
                <article style="background-image: url(/content/images/corporate4.jpg); background-size: 278px 310px;">
                    <a href="#" class="table">
                        <div class="cell">
                            <div class="text">
                                <h4>Kids</h4>
                            </div>
                        </div>
                    </a>
                </article>
                <article style="background-image: url(/content/images/corporate3.jpg); background-size: 278px 310px;">
                    <a href="#" class="table">
                        <div class="cell">
                            <div class="text">
                                <h4>Festive</h4>
                            </div>
                        </div>
                    </a>
                </article>

            </section>
        </div>
    </div>
    <!-- / container -->
</div>
<!-- / body -->
