@{
    ViewBag.Title = "Home Page";
}

<div id="body">
    <div id="slider" class="middle-con-margin">
        <ul>
            <li style="background-image: url(/content/images/banner1.jpg)">
                <!--<h3>Make your life better</h3>
                <h2>Genuine diamonds</h2>
                <a href="#" class="btn-more">Read more</a>-->
            </li>
            <li class="purple" style="background-image: url(/content/images/banner2.jpg)">
                <!--<h3>She will say “yes”</h3>
                <h2>engagement ring</h2>
                <a href="#" class="btn-more">Read more</a>-->
            </li>
            <li class="yellow" style="background-image: url(/content/images/banner3.jpg)">
                <!--<h3>You deserve to be beauty</h3>
                <h2>golden bracelets</h2>
                <a href="#" class="btn-more">Read more</a>-->
            </li>
        </ul>
    </div>
    <div class="container pad-left-right-0" style="margin-top:20px">
        <div class="last-products">
            <h2>Last added products</h2>
            <section class="products">
                <article>
                    <div class="hovereffect">
                        <img src="/content/images/category1.jpg" alt="">
                        <div class="overlay">
                            <h2>Effect 13</h2>
                            <p>
                                <a href="@Url.Content("~/ProductDetails/Index")">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                    <h3>Excepteur sint occaecat</h3>
                    <h4>$1 850.00</h4>
                    <a href="cart.html" class="btn-add">Add to cart</a>
                </article>
                <article>
                    <div class="hovereffect">
                        <img src="/content/images/category2.jpg" alt="">
                        <div class="overlay">
                            <h2>Effect 13</h2>
                            <p>
                                <a href="#">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                    <h3>Lorem ipsum dolor</h3>
                    <h4>$990.00</h4>
                    <a href="cart.html" class="btn-add">Add to cart</a>
                </article>
                <article>
                    <div class="hovereffect">
                        <img src="/content/images/category3.jpg" alt="">
                        <div class="overlay">
                            <h2>Effect 13</h2>
                            <p>
                                <a href="#">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                    <h3>cupidatat non proident</h3>
                    <h4>$1 200.00</h4>
                    <a href="cart.html" class="btn-add">Add to cart</a>
                </article>
                <article>
                    <div class="hovereffect">
                        <img src="/content/images/category4.jpg" alt="">
                        <div class="overlay">
                            <h2>Effect 13</h2>
                            <p>
                                <a href="#">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                    <h3>Duis aute irure</h3>
                    <h4>$2 650.00</h4>
                    <a href="cart.html" class="btn-add">Add to cart</a>
                </article>
                <article>
                    <div class="hovereffect">
                        <img src="/content/images/category6.jpg" alt="">
                        <div class="overlay">
                            <h2>Effect 13</h2>
                            <p>
                                <a href="#">LINK HERE</a>
                            </p>
                        </div>
                    </div>
                    <h3>magna aliqua</h3>
                    <h4>$3 500.00</h4>
                    <a href="cart.html" class="btn-add">Add to cart</a>
                </article>
            </section>
        </div>
        <div class="last-products">
            <h2>GIFTS</h2>
        </div>
        <section class="quick-links">
            <article style="background-image: url(/content/images/corporate1.jpg); background-size: 278px 310px;">
                <a href="#" class="table">
                    <div class="cell">
                        <div class="text">
                            <h4>personalize</h4>
                        </div>
                    </div>
                </a>
            </article>
            <article style="background-image: url(/content/images/corporate5.jpg); background-size: 278px 310px;">
                <a href="#" class="table">
                    <div class="cell">
                        <div class="text">
                            <h4>Corporate</h4>
                        </div>
                    </div>
                </a>
            </article>
            <article style="background-image: url(/content/images/corporate4.jpg); background-size: 278px 310px;">
                <a href="#" class="table">
                    <div class="cell">
                        <div class="text">
                            <h4>Kids</h4>
                        </div>
                    </div>
                </a>
            </article>
            <article style="background-image: url(/content/images/corporate3.jpg); background-size: 278px 310px;">
                <a href="#" class="table">
                    <div class="cell">
                        <div class="text">
                            <h4>Festive</h4>
                        </div>
                    </div>
                </a>
            </article>

        </section>
    </div>
    <!-- / container -->
</div>
<!-- / body -->
