<ul class="nav 
    -nav navbar-right" style="margin-top:6px; font-size:14px">
    <li>Gold Price per Ounce - $@Session["GoldRate"]  | Silver Price per Ounce - $@Session["SilverRate"]</li></ul>
<ul class="nav 
    -nav navbar-right" style="display:flex">
    @if (Convert.ToBoolean(Session["IsLoginValid"]) == true)
    {
        <li>@Html.ActionLink("Welcome " + Session["UserFullName"] + "!", "Index", "Product", routeValues: null, htmlAttributes: new { title = "Manage" }) </li>
        <li>@Html.ActionLink("Log off", "LogOff", "Account", new { area = "" }, new { })</li>
    }
    else
    {
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    }
</ul>