@model Asopalav.Models.ProductModel

@{
    ViewBag.Title = "Index";
}

<div id="breadcrumbs" class="product-margin-top">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li>Product page</li>
        </ul>
    </div>
    <!-- / container -->
</div>
<!-- / body -->
<div id="body">
    <div class="container">
        <div id="content" class="full">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="product">
                        <section id="default" class="padding-top0">
                            <div class="row">
                                <div class="">
                                    <div class="xzoom-container">
                                        <img class="xzoom" id="xzoom-default" src="/content/images/preview/01_b_car.jpg" xoriginal="/content/images/original/01_b_car.jpg" />
                                        <div class="xzoom-thumbs">
                                            <a href="/content/images/original/01_b_car.jpg"><img class="xzoom-gallery" width="80" src="/content/images/thumbs/01_b_car.jpg" xpreview="/content/images/preview/01_b_car.jpg" title="The description goes here"></a>
                                            <a href="/content/images/original/02_o_car.jpg"><img class="xzoom-gallery" width="80" src="/content/images/preview/02_o_car.jpg" title="The description goes here"></a>
                                            <a href="/content/images/original/03_r_car.jpg"><img class="xzoom-gallery" width="80" src="/content/images/preview/03_r_car.jpg" title="The description goes here"></a>
                                            <a href="/content/images/original/04_g_car.jpg"><img class="xzoom-gallery" width="80" src="/content/images/preview/04_g_car.jpg" title="The description goes here"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    </div>
                <div class="col-sm-12 col-md-7">
                    <div class="details">
                        <h1>Lorem ipsum dolor</h1>
                        <h4>$990.00</h4>
                        <div class="entry">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            <div class="tabs">
                                <div class="nav" style="z-index:-10">
                                    <ul>
                                        <li class="active"><a href="#desc">Description</a></li>
                                        <li><a href="#spec">Specification</a></li>
                                        <li><a href="#ret">Returns</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content active" id="desc">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                                <div class="tab-content" id="spec">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                                <div class="tab-content" id="ret">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <label>Quantity:</label>
                            <select><option>1</option></select>
                            <a href="#" class="btn-grey">Add to cart</a>
                        </div>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
            <!-- / content -->
        </div>
        </div>
    </div>
<!-- / body -->
