@model Asopalav.Models.ProductModel

@{
    ViewBag.Title = "Index";
}

<div id="breadcrumbs" class="product-margin-top">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li>Product page</li>
        </ul>
    </div>
    <!-- / container -->
</div>
<!-- / body -->
<div id="body">
    <div class="container">
        <div id="content" class="full">
            <div class="product">
                <div class="image">

                    <section id="example">
                        @*<div style="float: right; width: 310px; height: 400px; background: #EEE;"></div>*@
                        <div class="easyzoom easyzoom--adjacent easyzoom--with-thumbnails">
                            <a href="/content/images/product-image/2_zoom.jpg">
                                <img src="/content/images/product-image/2_standard.jpg" alt="" width="310" height="400" />
                            </a>
                        </div>

                        <ul class="thumbnails">
                            <li>
                                <a href="/content/images/product-image/3_zoom_1.jpg" " data-standard="/content/images/product-image/3_standard_1.jpg">
                                    <img src="/content/images/product-image/3_thumbnail_1.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="/content/images/product-image/3_zoom_2.jpg" data-standard="/content/images/product-image/3_standard_2.jpg">
                                    <img src="/content/images/product-image/3_thumbnail_2.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="/content/images/product-image/3_zoom_3.jpg" data-standard="/content/images/product-image/3_standard_3.jpg">
                                    <img src="/content/images/product-image/3_thumbnail_3.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="/content/images/product-image/3_zoom_4.jpg" data-standard="/content/images/product-image/3_standard_4.jpg">
                                    <img src="/content/images/product-image/3_thumbnail_4.jpg" alt="" />
                                </a>
                            </li>
                        </ul>
                        </section>
</div>
                <div class="details">
                    <h1>Lorem ipsum dolor</h1>
                    <h4>$990.00</h4>
                    <div class="entry">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <div class="tabs">
                            <div class="nav">
                                <ul>
                                    <li class="active"><a href="#desc">Description</a></li>
                                    <li><a href="#spec">Specification</a></li>
                                    <li><a href="#ret">Returns</a></li>
                                </ul>
                            </div>
                            <div class="tab-content active" id="desc">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </div>
                            <div class="tab-content" id="spec">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </div>
                            <div class="tab-content" id="ret">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <label>Quantity:</label>
                        <select><option>1</option></select>
                        <a href="#" class="btn-grey">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- / content -->
    </div>
    <!-- / container -->
</div>
<!-- / body -->
