@{
    Layout = null;
    var imageUrl = Model.Filename;
}

<!DOCTYPE html>

<html>
<body>
    <script type="text/javascript">
        if (window.opener && window.opener.loginCallback) {
            var url = '@TempData["imageUrl"]';

            window.opener.loginCallback(url);
        }
        window.close();
    </script>
</body>
</html>
