@*<script src="~/Scripts/dropzone.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/dropzone.css" rel="stylesheet" />*@

<div class="jumbotron">
    <form action="~/Product/UploadImage" class="dropzone" id="dropzoneJsForm" style="background-color:#00BFFF"></form>
    <button id="btnUpload" class="btn btn-info active">Upload</button>
</div>

@*<script type="text/javascript">
    Dropzone.options.dropzoneForm = {
        init: function () {
            this.on("complete", function (data) {
                //var res = eval('(' + data.xhr.responseText + ')');
                var res = JSON.parse(data.xhr.responseText);
            });
        }
    };
</script>*@
